.theme-light {
    --color-background: #EFEEEE;
    --color-navBar: #563d7c;
    --color-sidebar-active: #563d7ccc;
    --color-sidebar-background: #FFF;
    --dark-mode-toggle-color: #68A458;
    --sidebar-options-font-color: #54667a;
    --body-font-color: #212529;
    --body-font-excited-color: #dd2138;
    --neumorphic-color-background: #EFEEEE;
    --neumorphic-color-surround: #EFEEEE;
    --neumorphic-color-top-left: #ffffffd4;
    --neumorphic-color-bottom-right: #aca8a282;
    --skillbar-fill-color: #dd2138;
    --btn-custom-color: #dd2138;
    --footer-background: #a091b6cc;
    --footer-font-color: #ffffff;
}

.theme-dark {
    --color-background: #262626;
    --color-navBar: #222020;
    --color-sidebar-active: #563d7ccc;
    --color-sidebar-background: #262626;
    --dark-mode-toggle-color: #68A458;
    --sidebar-options-font-color: #FFF;
    --body-font-color: #ffffff;
    --body-font-excited-color: #a091b6cc;
    --neumorphic-color-background: #262626;
    --neumorphic-color-surround: #262626;
    --neumorphic-color-top-left: #4d4d4d;
    --neumorphic-color-bottom-right: #000000;
    --skillbar-fill-color: #563d7ccc;
    --btn-custom-color: #563d7ccc;
    --footer-background: #222020;
    --footer-font-color: #ffffff;
}

body {
    font-family: "Segoe UI";
    font-weight: 100 !important;
    background: var(--color-background);
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: scroll !important;
    color: var(--body-font-color);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


/* Blurred */

.blurred {
    -webkit-transition: all 0.6s ease !important;
    transition: all 0.6s ease !important;
    -webkit-filter: blur(10px) !important;
    filter: blur(10px) !important;
    -webkit-filter: url(#blur) !important;
    filter: url(#blur) !important;
    filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='10') !important;
}


/* List Group */

.list-group-item {
    background-color: transparent !important;
}


/* Hide scrollbar*/

.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

body .wrapper {
    margin-top: 56px;
}

section {
    /* min-height: 93vh !important; */
    min-height: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#section4 {
    min-height: 100% !important;
    background-color: var(--footer-background) !important;
    color: var(--footer-font-color) !important;
}

#section1 {
    padding-top: 1%;
}


/* Button */

.btn-custom {
    background: var(--btn-custom-color);
}

.btn-custom :hover {
    background-image: none !important;
    background-color: black !important;
}


/* Projects Section Cards */

.projects .card {
    border: 0px !important;
}

.projects .card-header {
    background-color: transparent !important;
}

.projects .card-footer {
    background-color: transparent !important;
}

.projects .card-footer .btn-custom {
    color: white !important;
}


/* Neumorphic elements */

.neumorphic {
    background: var(--neumorphic-color-background) !important;
    box-shadow: var(--neumorphic-color-surround) 0px 0px 2px 2px, var(--neumorphic-color-bottom-right) 4px 4px 8px, var(--neumorphic-color-top-left) -4px -4px 8px !important;
}

.neumorphic-inset {
    background: var(--neumorphic-color-background) !important;
    box-shadow: var(--neumorphic-color-surround) 0px 0px 2px 2px inset, var(--neumorphic-color-bottom-right) 4px 4px 8px inset, var(--neumorphic-color-top-left) -4px -4px 8px inset !important;
}

.neumorphic-box {
    border-radius: 12px !important;
}

.neumorphic-circle {
    border-radius: 50% !important;
}

.neumorphic-pill {
    border-radius: 205px !important;
}

.nav-sidebar a,
.nav-sidebar a:focus,
.nav-sidebar a:hover {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-sidebar a::before {
    font-family: "themify";
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* Skill */

.skill-bar-inset {
    background: var(--neumorphic-color-background);
    margin: auto;
    height: 20px;
    width: 95%;
    border-radius: 205px;
    box-shadow: inset var(--neumorphic-color-surround) 0px 0px 2px 2px, inset var(--neumorphic-color-bottom-right) 4px 4px 8px, inset var(--neumorphic-color-top-left) -4px -4px 8px;
}

.fill-skillbar {
    height: 12px;
    width: 0;
    border-radius: 205px;
    float: left;
    background: var(--skillbar-fill-color);
    margin: 4px;
    /* box-shadow: var(--neumorphic-color-surround) 0px 0px 2px 2px inset, var(--neumorphic-color-top-left) 4px 4px 8px inset, var(--neumorphic-color-bottom-right) -4px -4px 8px inset !important; */
}


/* Skill */


/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.navbar {
    padding: 0;
    background: var(--color-navBar) !important;
}

.navbar .menu-toggle-button a {
    padding: 1.1rem 1rem;
    color: #FFF;
}

.navbar .menu-toggle-button a:hover {
    background: #0000001a;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

#sidebarCollapse {
    font-weight: bold;
    font-size: large;
}

#sidebar {
    min-width: 240px;
    max-width: 240px;
    min-height: 100vh;
    background: var(--color-sidebar-background);
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
    flex-grow: 1;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #2cabe3;
    text-align: center;
}

#sidebar .sidebar-header p {
    color: #FFF;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
    color: var(--sidebar-options-font-color);
    padding: 15px 35px 15px 20px;
}

#sidebar li a[aria-expanded="true"],
#sidebar ul li a:hover {
    background: #00000012;
}

#sidebar ul li.active>a {
    color: #fff;
    background: var(--color-sidebar-active);
    font-weight: 500;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar li a[aria-expanded="false"]::before,
#sidebar li a[aria-expanded="true"]::before {
    content: '\e649';
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 0.6em;
}

#sidebar li a[aria-expanded="true"]::before {
    content: '\e64b';
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

#sidebar.active {
    margin-left: -250px;
}


/* Social Links */

.social-link-container {
    display: table;
    width: 100%;
}

.social-link {
    font-size: 3em;
    display: table-cell;
    text-align: center;
}

a {
    text-decoration: none !important;
    color: var(--body-font-color);
}

a:hover {
    color: var(--body-font-excited-color);
}


/* Social Links */

.social-links {
    margin-bottom: 1rem;
}

#landingText {
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (max-width: 600px) {
    #landingText {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.m-t-5 {
    margin-top: 5px !important;
}

.p-t-5 {
    padding-top: 5px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.p-b-15 {
    padding-bottom: 15px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.p-l-15 {
    padding-left: 15px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.p-r-15 {
    padding-right: 15px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.m-t-25 {
    margin-top: 25px !important;
}

.p-t-25 {
    padding-top: 25px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.p-b-25 {
    padding-bottom: 25px !important;
}

.m-l-25 {
    margin-left: 25px !important;
}

.p-l-25 {
    padding-left: 25px !important;
}

.m-r-25 {
    margin-right: 25px !important;
}

.p-r-25 {
    padding-right: 25px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.m-l-30 {
    margin-left: 30px !important;
}

.p-l-30 {
    padding-left: 30px !important;
}

.m-r-30 {
    margin-right: 30px !important;
}

.p-r-30 {
    padding-right: 30px !important;
}

.m-t-35 {
    margin-top: 35px !important;
}

.p-t-35 {
    padding-top: 35px !important;
}

.m-b-35 {
    margin-bottom: 35px !important;
}

.p-b-35 {
    padding-bottom: 35px !important;
}

.m-l-35 {
    margin-left: 35px !important;
}

.p-l-35 {
    padding-left: 35px !important;
}

.m-r-35 {
    margin-right: 35px !important;
}

.p-r-35 {
    padding-right: 35px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.p-t-40 {
    padding-top: 40px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.p-b-40 {
    padding-bottom: 40px !important;
}

.m-l-40 {
    margin-left: 40px !important;
}

.p-l-40 {
    padding-left: 40px !important;
}

.m-r-40 {
    margin-right: 40px !important;
}

.p-r-40 {
    padding-right: 40px !important;
}

.m-t-45 {
    margin-top: 45px !important;
}

.p-t-45 {
    padding-top: 45px !important;
}

.m-b-45 {
    margin-bottom: 45px !important;
}

.p-b-45 {
    padding-bottom: 45px !important;
}

.m-l-45 {
    margin-left: 45px !important;
}

.p-l-45 {
    padding-left: 45px !important;
}

.m-r-45 {
    margin-right: 45px !important;
}

.p-r-45 {
    padding-right: 45px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.p-t-50 {
    padding-top: 50px !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.p-b-50 {
    padding-bottom: 50px !important;
}

.m-l-50 {
    margin-left: 50px !important;
}

.p-l-50 {
    padding-left: 50px !important;
}

.m-r-50 {
    margin-right: 50px !important;
}

.p-r-50 {
    padding-right: 50px !important;
}

.m-t-75 {
    margin-top: 75px !important;
}

.p-t-75 {
    padding-top: 75px !important;
}

.m-b-75 {
    margin-bottom: 75px !important;
}

.p-b-75 {
    padding-bottom: 75px !important;
}

.m-l-75 {
    margin-left: 75px !important;
}

.p-l-75 {
    padding-left: 75px !important;
}

.m-r-75 {
    margin-right: 75px !important;
}

.p-r-75 {
    padding-right: 75px !important;
}

.m-t-100 {
    margin-top: 100px !important;
}

.p-t-100 {
    padding-top: 100px !important;
}

.m-b-100 {
    margin-bottom: 100px !important;
}

.p-b-100 {
    padding-bottom: 100px !important;
}

.m-l-100 {
    margin-left: 100px !important;
}

.p-l-100 {
    padding-left: 100px !important;
}

.m-r-100 {
    margin-right: 100px !important;
}

.p-r-100 {
    padding-right: 100px !important;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.user-profile {
    padding: 0 0 15px;
    position: relative;
    text-align: center;
}

.user-profile .user-pro-body {
    display: block;
    color: var(--sidebar-options-font-color);
}

.user-profile .user-pro-body img {
    width: 50px;
    display: block;
    margin: 0 auto 10px;
}

.user-profile .user-pro-body .u-dropdown {
    color: #97999f;
}

.user-profile .user-pro-body .dropdown-menu {
    right: 0;
    width: 80%;
    left: 0;
    margin: 0 auto;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    top: 85px !important;
}

.user-profile .user-pro-body .dropdown-menu li a {
    padding-left: 5px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding: 10px !important;
}

.navbar-top-links {
    margin-right: 1%;
}

.navbar-top-links .profile-pic {
    color: #FFF;
    text-decoration: none;
    padding: 0 12px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    display: block;
    padding: 9px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.navbar-top-links .dropdown-menu li a:hover {
    background: #f7fafc;
    text-decoration: none;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
    position: absolute;
    width: 280px;
    margin-top: 10px;
}

.navbar-top-links .dw-user-box {
    padding: 15px;
}

.navbar-top-links .dw-user-box .u-img {
    width: 70px;
    display: inline-block;
    vertical-align: top;
}

.navbar-top-links .dw-user-box .u-img img {
    width: 100%;
    border-radius: 5px;
}

.navbar-top-links .dw-user-box .u-text {
    display: inline-block;
    padding-left: 10px;
}

.navbar-top-links .dw-user-box .u-text h4 {
    margin: 0;
}

.navbar-top-links .dw-user-box .u-text p {
    margin-bottom: 3px;
}

.navbar-top-links .dw-user-box .u-text .btn-danger {
    background: #f33155;
    opacity: .8;
    border-radius: 60px;
    border: 1px solid #f33155;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #FFF;
}

.card-login {
    max-width: 25rem;
}

.content-area {
    /* margin-top: 15px; */
    max-width: 100vw;
    /* padding: 1%; */
    /* margin-right: 0%; */
}

.content-area .panel {
    background: #FFF;
    padding: 25px;
}

.top-inner-navbar {
    min-height: 57px;
}

.text-decoration-none:hover {
    text-decoration: none;
}


/* Theme Slider */


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-mode-toggle-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
}

input:checked+.slider {
    background-color: var(--dark-mode-toggle-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--dark-mode-toggle-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Theme Slider */